// screen resolution
// tablet
$tablet_min_size: 481px;
$tablet_max_size: 768px;
// laptop
$laptop_min_size: 769px;
$laptop_max_size: 1024px;
// desktop
$desktop_min_size: 1025px;
$desktop_max_size: 1200px;
// extra large screen
$extra_large_min_size: 1201px;