@import '../core/styles/core.scss';

.demo-list { 
  .demo-item-container {
    display: flex;
    flex-wrap: wrap;

    .demo-item-link {
      border: 1px solid $border-color;
      border-radius: 4px;
      cursor: pointer;
      justify-content: space-between;
      padding: 10px 5px;
      margin: 5px;
      text-align: center;
      width: calc(33% - 10px);

      &:hover {
        .description {
          text-decoration: none !important;
        }
      }

      .display-name {
        font-weight: bold;
      }

      .description {
        font-size: .9rem;
        font-style: italic;
        margin: 0;
        margin-top: 5px;
        text-align: left;
      }
    }  
  }

  @media screen and (max-width: $laptop_min_size) {
    .demo-item-container {
      .demo-item-link {
        width: calc(33% - 10px);
      }  
    }
  }

  @media screen and (max-width: $tablet_min_size) {
    .demo-item-container {
      .demo-item-link {
        width: calc(50% - 10px);
      }  
    }
  }
}