<section>
  <h3>Card-Memory game</h3>
  <i>Number of failed attempts: {{failedAttempts}}</i>
  <div style="float: right;">
    <select [(ngModel)]="difficultyLevel" (change)="changeDifficultyLevel($event)">
      <option value="8">Easy</option>
      <option value="12">Medium</option>
      <option value="24">Hard</option>
    </select>
  </div>
  <div style="display: flex; width: 100%; flex-wrap: wrap;">
    <div cardElement *ngFor="let card of cardList" [card]="card" [toggleVisible]="toggleVisible"></div>
  </div>
</section>