@import '../styles/core.scss';

.app-container {
  color: #000000;
  height: 100vh;

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

    & + .content-container {
      padding-top: 4rem;
    }
  }
  
  .app-navbar {
    background-color: #e3f2fd !important;

    .navbar-brand {
      display: flex;
      align-items: center;
    }
  }

  .content-container {
    margin-bottom: 4rem;
    min-height: calc(100vh - 70px);
    padding-top: 15px;
  }

  .page-footer {
    background-color: $footer-background;

    .footer-icon {
      display: inline-block;
      margin: 0 15px;
    }
  }
}